{
    "arrowParens": "always",
    "bracketSameLine": false,
    "bracketSpacing": true,
    "embeddedLanguageFormatting": "auto",
    "htmlWhitespaceSensitivity": "css",
    "insertPragma": false,
    "jsxSingleQuote": false,
    "printWidth": 120,
    "proseWrap": "preserve",
    "quoteProps": "as-needed",
    "requirePragma": false,
    "semi": true,
    "tabWidth": 2,
    "useTabs": false,
    "importOrder": ["^react$", "", "<THIRD_PARTY_MODULES>", "", "^[.]"],
    "plugins": ["@ianvs/prettier-plugin-sort-imports"]
  }